@tailwind base;
@tailwind components;
@tailwind utilities;

/* add css for entire website */

html {
	scroll-behavior: smooth;
	font-family: 'Inter', sans-serif;

	-ms-overflow-style: none !important;
	scrollbar-width: none !important;
}

html::-webkit-scrollbar {
	display: none !important;
}
